body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #180a49;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ddd;
}

.dashboard-nav ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-nav ul li {
    margin-bottom: 10px;
}

.dashboard-nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #190551;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.dashboard-nav ul li a:hover {
    background-color: #ddd;
}
